@charset "utf-8";
/* CSS Document */
/*全局样式*/
body{font-size:12px; font-family:"Times New Roman", Times, serif,Verdana, Arial; line-height:1.5; margin:0; padding:0;}
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{
margin:0; padding:0; border:none; list-style-type:none;}
li{list-style-position:outside;}
ul{ list-style:none;}
img { border:0px;}
a { text-decoration:none;}
.cf {clear:both;height:0;font-size: 1px;line-height: 0px;}
html { zoom: expression(function(ele){ ele.style.zoom = "1"; document.execCommand("BackgroundImageCache", false, true); }(this)); }